.navigation{
     display:flex;
     align-items: center;
     justify-content:space-between;
     background-color: var(--nav-color);
     padding:5px 5%;
     position:sticky;
     top:0;
     z-index: 100;

     .logo{
          width:160px;
          margin-right:45px;
     }
     .nav-left{
          display:flex;
          align-items:center;

          .list{
               .list-link{
                    cursor:pointer;
                    list-style: none;
                    display:inline-block;
                    img{
                         width:28px;
                         margin:0 15px;
                    }
               }
          }
     }

     .nav-right{
          display:flex;
          align-items:center;

          .search-box{
               width: 350px;
               border-radius: 20px;
               padding: 0 15px;
               background:#efefef;
               display:flex;
               align-items:center;

               input{
                    width:100%;
                    background:transparent;
                    outline:none;
                    border: 0;
                    padding:10px;

               }
               img{
                    width:18px;
               }
          }
          .nav-user-icon{
               margin-left: 20px;

               img {
                    width:40px;
                    border-radius: 50%;
                    cursor: pointer;
               }
          }
     }
}

.settings-menu{
     position:absolute;
     width:90%;
     max-width: 350px;
     height: 500px;
     background:var(--bg-color);
     box-shadow: 0 0 10px rgba(0, 0, 0,0.4);
     border-radius: 4px;
     overflow: hidden;
     top: 108%;
     right:5%;
     max-height:0;
     transition: max-height 0.3s;

     hr{
          border:0;
          height:1px;
          background: #9a9a9a;
          margin:15px 0;
     }

     .settings-menu-inner{
          padding:20px;

          .user-profile{
               a{
                    font-size:12px;
                    color:#1876f2;
                    text-decoration:none;
               }
          }
          .settings-links{
               display:flex;
               align-items:center;
               margin:15px 0;

               .settings-icon{
                    width:38px;
                    margin-right:10px;
                    border-radius: 50%;

               }

               a{
                    text-decoration: none;
                    display:flex;
                    flex:1;
                    align-items:center;
                    justify-content:space-between;
                    color: #6a6a6a;

               }
               
          }
     }
}

#dark-btn{
     position:absolute;
     top:20px;
     right:20px;
     background:#ccc;
     width:45px;
     border-radius:15px;
     padding:2px 3px;
     cursor: pointer;
     display: flex;
     transition:padding-left 0.5s, background 0.5s;

     span{
          width:18px;
          height:18px;
          background:#fff;
          border-radius: 50%;
          display:inline-block;

     }

     &.dark-btn-on{
          padding-left:23px;
          background:#000;
     }
}


//For Js 
.settings-menu-height {
     max-height:400px;
}


/*----Global Online Class design----*/
.online{
     position: relative;
}
.online::after{
     content: "";
     width:7px;
     height:7px;
     border:2px solid #fff;
     border-radius: 50%;
     background:#41db51;
     position:absolute;
     top: 0;
     right: 0;
}

