* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --body-color:#efefef;
  --nav-color:#1876f2;
  --bg-color:#fff; }

.dark-theme {
  --body-color:#0a0a0a;
  --nav-color:#000;
  --bg-color:#000; }

body {
  background: var(--body-color);
  font-family: sans-serif;
  transition: background 0.3s; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-color);
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100; }
  .navigation .logo {
    width: 160px;
    margin-right: 45px; }
  .navigation .nav-left {
    display: flex;
    align-items: center; }
    .navigation .nav-left .list .list-link {
      cursor: pointer;
      list-style: none;
      display: inline-block; }
      .navigation .nav-left .list .list-link img {
        width: 28px;
        margin: 0 15px; }
  .navigation .nav-right {
    display: flex;
    align-items: center; }
    .navigation .nav-right .search-box {
      width: 350px;
      border-radius: 20px;
      padding: 0 15px;
      background: #efefef;
      display: flex;
      align-items: center; }
      .navigation .nav-right .search-box input {
        width: 100%;
        background: transparent;
        outline: none;
        border: 0;
        padding: 10px; }
      .navigation .nav-right .search-box img {
        width: 18px; }
    .navigation .nav-right .nav-user-icon {
      margin-left: 20px; }
      .navigation .nav-right .nav-user-icon img {
        width: 40px;
        border-radius: 50%;
        cursor: pointer; }

.settings-menu {
  position: absolute;
  width: 90%;
  max-width: 350px;
  height: 500px;
  background: var(--bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 108%;
  right: 5%;
  max-height: 0;
  transition: max-height 0.3s; }
  .settings-menu hr {
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0; }
  .settings-menu .settings-menu-inner {
    padding: 20px; }
    .settings-menu .settings-menu-inner .user-profile a {
      font-size: 12px;
      color: #1876f2;
      text-decoration: none; }
    .settings-menu .settings-menu-inner .settings-links {
      display: flex;
      align-items: center;
      margin: 15px 0; }
      .settings-menu .settings-menu-inner .settings-links .settings-icon {
        width: 38px;
        margin-right: 10px;
        border-radius: 50%; }
      .settings-menu .settings-menu-inner .settings-links a {
        text-decoration: none;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        color: #6a6a6a; }

#dark-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ccc;
  width: 45px;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s; }
  #dark-btn span {
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block; }
  #dark-btn.dark-btn-on {
    padding-left: 23px;
    background: #000; }

.settings-menu-height {
  max-height: 400px; }

/*----Global Online Class design----*/
.online {
  position: relative; }

.online::after {
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41db51;
  position: absolute;
  top: 0;
  right: 0; }

.container {
  display: flex;
  justify-content: space-between;
  padding: 13px 5%; }
  .container .left-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    /*----DRY PLX---*/ }
    .container .left-sidebar .imp-links {
      border-bottom: 1px solid #ccc;
      /*----DRY PLX---*/ }
      .container .left-sidebar .imp-links a {
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        color: #626262;
        width: fit-content; }
        .container .left-sidebar .imp-links a img {
          width: 25px;
          margin-right: 15px; }
        .container .left-sidebar .imp-links a:last-child {
          color: #1876f2; }
    .container .left-sidebar .shortcut-links a {
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      color: #626262;
      width: fit-content; }
      .container .left-sidebar .shortcut-links a img {
        width: 40px;
        border-radius: 4px;
        margin-right: 15px; }
      .container .left-sidebar .shortcut-links a:last-child {
        color: #1876f2;
        font-size: 15px; }
    .container .left-sidebar .shortcut-links p {
      margin: 25px 0;
      color: #626262; }
  .container .main-content {
    flex-basis: 47%; }
    .container .main-content .story-gallery {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px; }
      .container .main-content .story-gallery .story {
        flex-basis: 18%;
        padding-top: 32%;
        position: relative;
        background-size: cover;
        border-radius: 10px; }
        .container .main-content .story-gallery .story.story1 {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url("images/status-1.png"); }
          .container .main-content .story-gallery .story.story1 img {
            top: unset;
            left: 50%;
            bottom: 40px;
            transform: translateX(-50%);
            border: 0;
            width: 35px; }
        .container .main-content .story-gallery .story.story2 {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url("images/status-2.png"); }
        .container .main-content .story-gallery .story.story3 {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url("images/status-3.png"); }
        .container .main-content .story-gallery .story.story4 {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url("images/status-4.png"); }
        .container .main-content .story-gallery .story.story5 {
          background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url("images/status-5.png"); }
        .container .main-content .story-gallery .story img {
          position: absolute;
          width: 45px;
          border-radius: 50%;
          top: 10px;
          left: 10px;
          border: 5px solid #1876f2; }
        .container .main-content .story-gallery .story p {
          position: absolute;
          bottom: 10px;
          width: 100%;
          text-align: center;
          color: #fff;
          font-size: 14px;
          font-weight: 500; }
    .container .main-content .write-post-container {
      width: 100%;
      background: var(--bg-color);
      border-radius: 6px;
      padding: 20px;
      color: #626262; }
      .container .main-content .write-post-container .post-input-container {
        padding-left: 55px;
        padding-top: 20px; }
        .container .main-content .write-post-container .post-input-container textarea {
          width: 100%;
          border: 0;
          outline: 0;
          border-bottom: 1px solid #ccc;
          background: transparent;
          resize: none; }
        .container .main-content .write-post-container .post-input-container .add-post-links {
          display: flex;
          margin-top: 10px; }
          .container .main-content .write-post-container .post-input-container .add-post-links .link {
            text-decoration: none;
            display: flex;
            align-items: center;
            margin-right: 30px;
            font-size: 13px; }
            .container .main-content .write-post-container .post-input-container .add-post-links .link img {
              width: 20px;
              margin-right: 10px; }
    .container .main-content .post-container {
      width: 100%;
      background: var(--bg-color);
      border-radius: 6px;
      padding: 20px;
      color: #626262;
      margin: 20px 0; }
      .container .main-content .post-container .post-text {
        color: #9a9a9a;
        margin: 12px 0;
        font-size: 15px; }
      .container .main-content .post-container .post-img {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 5px; }
      .container .main-content .post-container .post-row {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .container .main-content .post-container .post-row .activity-icons div {
          display: inline-flex;
          align-items: center;
          margin-right: 30px; }
          .container .main-content .post-container .post-row .activity-icons div img {
            width: 18px;
            margin-right: 10px; }
        .container .main-content .post-container .post-row .post-profile-icon {
          display: flex;
          align-items: center; }
          .container .main-content .post-container .post-row .post-profile-icon img {
            width: 20px;
            border-radius: 50%;
            margin-right: 5px; }
        .container .main-content .post-container .post-row a {
          text-decoration: none;
          color: #9a9a9a; }
  .container .right-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: #626262; }
    .container .right-sidebar .sidebar-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 18px; }
      .container .right-sidebar .sidebar-title h4 {
        font-weight: 600;
        font-size: 16px; }
      .container .right-sidebar .sidebar-title a {
        text-decoration: none;
        color: #1876f2;
        font-size: 12px; }
    .container .right-sidebar .sidebar-ads {
      width: 100%;
      margin-bottom: 20px;
      border-radius: 4px; }
    .container .right-sidebar .event {
      display: flex;
      font-size: 14px;
      margin-bottom: 20px; }
      .container .right-sidebar .event .right-event p {
        font-size: 12px; }
      .container .right-sidebar .event .right-event a {
        font-size: 12px;
        text-decoration: none;
        color: #1876f2; }
      .container .right-sidebar .event .left-event {
        border-radius: 10px;
        height: 65px;
        width: 65px;
        margin-right: 15px;
        padding-top: 10px;
        text-align: center;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
        .container .right-sidebar .event .left-event span {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background: #1876f2;
          color: #fff;
          font-size: 10px;
          padding: 4px 0; }
  .container .online-list {
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
    .container .online-list .online {
      width: 40px;
      border-radius: 50%;
      margin-right: 15px; }
      .container .online-list .online img {
        width: 40px;
        border-radius: 50%; }
      .container .online-list .online::after {
        top: unset;
        bottom: 5px; }

.user-profile {
  display: flex;
  align-items: center; }
  .user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px; }
  .user-profile .name-text {
    font-weight: 500;
    color: #626262; }
  .user-profile small {
    font-size: 12px; }
  .user-profile i {
    margin-left: 3px; }
  .user-profile span {
    font-size: 13px;
    color: #9a9a9a; }

.btn-load-more {
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #9a9a9a;
  background: transparent;
  border-radius: 4px;
  color: #626262; }

.footer p {
  text-align: center;
  color: #6a6a6a;
  padding: 10px; }
